body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.jpg");
    background-size:cover;
}

.main{
    height: 850px;
    width: 1200px;
    background-color:rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    
    
} 
.secondary{
   height: 90%;
   width: 90%;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 50px;
}


.image >img{
    margin-top: 100px;
    width: 250px;
    height: 100px; 
    margin-left: 400px;
}

h2{
    color:#00DD00;
    text-align: center;
    font-size:xx-large;
    margin-bottom: 10px;
    margin-top: 10px;

}

.pulsanti{
    height: 50px;
    background-color: #00DD00;
    margin: auto;
    text-align: center;
}

.pulsanti > button{
    margin-top: 12px;
}


.statocarica{
    height: 30px;
    width: 300px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #F5B453;

}

.statocarica1{
    height: 30px;
    width: 600px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #1EC31E;
}

.statocarica2{
    height: 30px;
    width: 150px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #BE4141;
}

span{
    color: white;
    font-style:unset;
}

p{
    margin: 0;
    color: white;
    font-size: medium;
}
.blocco-carica{
    margin-top: 30px;
}

.monopattini{
    font-size:x-large;
}